*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(5, 156, 5);
    padding-left: 30px;
    width:100vw;
    overflow: hidden;
    /* padding-left: 20px; */
    margin-left: 20px;;
    position: relative;
}


.ppp{
    border: 3px solid black;
    border-radius: 25px;
    height :100px;
}
.profile{
    height:350px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    flex-direction: column;
}

.balance{
    padding: 16px;
    border-radius: 20px;
    background-color: rgb(255, 200, 0);
    display: flex;
    flex-direction: column;
    height:65px;
    justify-content: space-between;
    border :3px solid black;
}
#q{
    font-size: 22px;
}
#ab ,#ys{
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 7px;;
}

button{
    padding: 10px;
    background-color: rgb(255,0, 0);
    font-size: 18px;
    border-radius: 7px;
    border :3px solid black;
    color: rgb(255, 255, 255);
}
button:hover{
    background-color: rgb(190, 0, 0);
}
.betbox {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    justify-content: space-evenly;
    top: 360px;
    left: 403px;
    border: 3px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(255, 200, 0);
    height: 155px;
    font-size: 20px;
    flex-wrap: wrap;
    width: 354px;
  }

#bet{
    
    width: 150px;
    text-align: center;
    font-size: 20px;
    padding:3px;
    padding-left: 10px;;
    border-radius: 6px;;
    border: 2px solid black;
}

#ys{
    width: 149px;
    height: 31px;
}

.board{
    display: flex;
    width: 600px;
    position: absolute;
    top: 20px;
    left: 350px;
}

.b{
    margin:15px;

    overflow: hidden;
}
.b1:hover{
    cursor: pointer;
}

.b1{
    height:150px;
    width:150px;
    border-radius: 10px;;
    box-sizing: border-box;
}

.screen {
    height: 77px;
    width: 350px;
    position: absolute;
    left: 414px;
    top: 249px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
    border: 3px solid black;
    border-radius: 13px;;
}
.wintxt{
   
    display: inline-block;
}

.dice{
    border:2px solid black;
    border-radius: 15px;
    height: 100px;
    width:100px;
    position: absolute;

}

.pressed1{
    animation: diceani1 5s ease-out ;
} 

.pressed2{
    animation: diceani2 5s ease-out ;
}

@keyframes diceani2 {
    
    1%{
        top:118px;
        right:-150px;
        transform: rotate(0deg);
    }
    15%{
        transform: rotate(180deg);  
        top: 247px;
        right:250px;
    }
    100%{
        transform: rotate(180deg);  
        top: 247px;
        right:250px;
    }

    
}

@keyframes diceani1 {
    1%{
        top:17px;
    /* left:1019px; */
    right:-150px;
    transform: rotate(0deg);
    }
    15%{
        top: 117px;
        right:250px;
        transform: rotate(180deg);
    }
    100%{
        top: 117px;
        right:250px;
        transform: rotate(180deg);
    }

    
}
#die1{


    top:17px;

    right:-150px;
}

#die2{
   
     top:119px;
    right:-150px;
}